#!/VIEW/THIS/DOCUMENT/WITH/WORD/WRAP/OFF

#                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
#                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
#                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
#                                                                                                                                                                                                                                                                                                #                                                                                                                                                 #                                                                         #                                                                                                                                                   
#                                                                                                                                                                                                                                                                                              # #                     # #                                                               #                                                         # #                   # #                                                 #         #                                                                                                                                         
#              #       # #                   # #                                                                                                                                                                                                                                 #             # #                     # #                                                             # # #                                       #               # #                   # #                                                 #       # # #                                                               # #                                                                     
#            # #       # #                   # #                                                                                                                                                                                                                               # #             # #                                                                                                                                 # #             # #                                                                       #                                                                           # #                                                                     
#            # #       # #                   # #                                                                                                                                                                                                                               # #             # #                                                                                                                                 # #             # #                                                                       #                                                                           # #                                                                     
#          # # #     # # #                   # #           # # # # # #         # # # # # #               # # # #               # # # #           # # # #                       # # # # #         #             #         # # # # #           # # # # #     #             #     # # # # # #     # # # # # # #           #         # # # # # #                 # # # # #                   #         # # # # # #                     # # # # #       # # # # # #           # #         # # # # #                     # # # # # #         #           # # # #         # # # # #               # # # #       # # # # #           # # # #             # # # # #     #             #   
#      # # # # # # # # # # #                 # #         # # # # # # #         # # # # # # #           # # # # # # #         # # # # #       # # # # # # #                   # # # # # # #       # #         # #       # # # # # # #       # # # # # #     # #         # #     # # # # # #     # # # # # # # #         # #       # # # # # # #           # # # # # # # #                 #         # # # # # # #                   # # # # #       # # # # # # #         # #       # # # # # #                   # # # # # # #         #         # # # # #       # # # # # # #         # # # # # #       # # # # # #     # # # # # # #         # # # # # #     # #         # #   
#            #         #                     # #       # #         # #         #         # # #       # #         # #         # #             # #       # # #               # # #       # #       # #         # #     # #         # #       # #             # #         # #     # #             # #         # #         # #       # #         # #       # # #         # #                 #         # #         # #                 # #             # #         # #       # #       # #                         # #         # #         #         # #           # # #       # #         # #               # #             # #         # #       # #             # #         # #   
#          # #       # #                     # #       # #         # #         #           # #       # #           # #       # #           # #           # #               # #           # #     # #         # #     # #           # #     # #             # #         # #     # #             # #           # #       # #       # #         # #       # #           # #                 #         # #         # #                 # #             # #         # #       # #       # #                       # #             #         #         # #           # #           # #     # #                 # #           # #           # #       # #             # #         # #   
#          # #       # #                     # #     # #           # #         #           # #     # #             # #       # #           # #           # #               # #         # # #       #       # #       # #         # # #     # #               #         #       # #             # #           # #       # #       # #         # #       # #           # #                 #         # #         # #                 # #             # #         # #       # #       # # #                     # #             #         #         # #           # #         # # #     # #                 # #           # #             # #     # #               #         #     
#          # #     # # #                     # #     # #           # #         #           # #     # #             # #       # #           # # # # # # # # #               # # # # # # # # #       # #     # #       # # # # # # # # #     # #               # #     # #       # #             # #           # #       # #       # #         # #       # #           # #                 #         # #         # #                 # #             # #         # #       # #         # # # #                 # #             #         #         # #           # # # # # # # # #     # #                 # #           # #             # #     # #               # #     # #     
#      # # # # # # # # # # #                 # #     # #           # #         #           # #     # #             # #       # #           # #                             # #                     # #     # #       # #                   # #               # #     # #       # #             # #           # #       # #       # #         # #       # #           # #                 #         # #         # #                 # #             # #         # #       # #               # #               # #             #         #         # #           # #                   # #                 # #           # #             # #     # #               # #     # #     
#          #         #                       # #       # #         # #         #           # #       # #           # #       # #           # #                             # #                       # # # #         # #                   # #                 # #   #         # #             # #           # #       # #       # #         # #       # #           # #                 #         # #         # #                 # #             # #         # #       # #                 # #               # #           #         #         # #           # #                   # #                 # #           # #           # #       # #                 # #   #       
#        # #       # #                       # #       # # #     # # #         #           # #       # #         # #         # #             # #                           # # #                     # # # #         # # #                 # #                 # # # #         # #             # #           # #       # #       # #         # #         # # #     # # #                 #         # #         # #                 # #             # #         # #       # #                 # #               # #           #         #         # #             # #                   # #               # #             # #         # #       # #                 # # # #       
#        # #       # #                       # #         # # # # # # #         #           # #         # # # # # # #         # #             # # # # # # #                   # # # # # # #             # #             # # # # # # #       # #                   # # #           # # # # #     # #           # #       # #       # #         # #           # # # # # # #                 #         # #         # #                 # # # # # #     # #         # #       # #       # # # # # #                   # # # # # # #         #         # #             # # # # # # #         # # # # # # #     # # # # # #     # # # # # # #         # #                   # # #       
#        # #       #                         #                     # #         #           # #           # # # #             #                   # # # # #                       # # # # #             # #                 # # # #           #                   # #               # # # #       #           # #       #         # #           #                     # #                 #         #           # #                   # # # #       #             #       # #       # # # # #                       # # # # # #         #         #                   # # # # #             # # # #         # # # # #         # # # #             #                   # #         
#                                                                  # #                                                                                                                                                                                           # #                                                                                                 # #                                                                                                                                                                                                                                                                                             # #         
#                                                                # # #                                                                                                                                                                                         # #                                                                                                 # #                                                                                                                                                                                                                                                                                             # #           
#                                                      # # # # # # #                                                                                                                                                                                     # # # #                                                                                       # # # # # # #                                                                                                                                                                                                                                                                                         # # # #             
#                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                


#                        
#                        
#                        
#                        
#                        
#            # #         
#            # #         
#      # #   #   # # #   
#      # # # # # # #     
#            # #         
#        # #   # #       
#        # #     # #     
#                        
#                        
#                        
#                        
#                        
#                        
#                        
#                        
#                        
#                        
#                        


#                                                                                                                                                                                                                                                                                                                    
#                                                                                                                                                                                                                                                                                                                    
#                                                                                                                                                                                                                                                                                                                    
#                                                                                                                                                                                                #                                                               # # # #               #                             
#                                                                                                                                                                                                # #                   # #                                     # # # # #     #         #                             
#              #       # #                   # # # # # # # #                                                                                           # #                       #               # #                   # #                                   # #           # # #       #                             
#            # #       # #                   # #                                                                                                       # #                       # #             # #                                                         # #                       #                             
#            # #       # #                   # #                                                                                                       # #                       # #             # #                                                         # #                       #                             
#          # # #     # # #                   # #                 # #           # #         # # # # #         # # # # #           # # # # # #           # # # # # #               # # # # #       # # # # # #           # #         # # # # #                 # # # # #       #         #             # # # #         
#      # # # # # # # # # # #                 # #                   # #       # #         # # # # # #       # # # # # # #       # # # # # # # #         # # # # # #               # # # # #       # # # # # # #         # #       # # # # # #                 # # # # # #     #         #           # # # # # # #     
#            #         #                     # #                     # #     #         # #               # #         # #       # #         # # #       # #                       # #             # #         # #       # #       # #                         # #             #         #         # #         # #     
#          # #       # #                     # # # # # # #           # #   # #         # #               # #           # #     # #           # #       # #                       # #             # #         # #       # #       # #                         # #             #         #         # #           #     
#          # #       # #                     # #                       # # #         # #                 # #         # # #     # #             #       # #                       # #             # #         # #       # #       # # #                       # #             #         #         # #         # # #   
#          # #     # # #                     # #                       # # #         # #                 # # # # # # # # #     # #             # #     # #                       # #             # #         # #       # #         # # # #                   # #             #         #         # # # # # # # # #   
#      # # # # # # # # # # #                 # #                       # # # #       # #                 # #                   # #             #       # #                       # #             # #         # #       # #               # #                 # #             #         #         # #                 
#          #         #                       # #                     # #   # #         # #               # #                   # #           # #       # #                       # #             # #         # #       # #                 # #               # #             #         #         # #                 
#        # #       # #                       # #                   # #       # #       # #               # # #                 # #           # #       # #                       # #             # #         # #       # #                 # #               # #             #         # #       # #                 
#        # #       # #                       # # # # # # # # #     #           # #       # # # # # #       # # # # # # #       # # # # # # # #           # # # # #               # # # # # #     # #         # #       # #       # # # # # #                 # #             #         # # #       # # # # # # #     
#        # #       #                         # # # # # # # #     # #           # #         # # # # #           # # # #         # # # # # # #               # # # #                 # # # #       #             #       # #       # # # # #                   #               #           # #         # # # # #       
#                                                                                                                              # #                                                                                                                                                                                   
#                                                                                                                              # #                                                                                                                                                                                   
#                                                                                                                              # #                                                                                                                                                                                   
#                                                                                                                                                                                                                                                                                                                    


#                                                                                                                                                                                                  
#                                                                                                                                                                                                  
#                                                                                                                                                                                                  
#                                                    #                         # #                                                                                                                 
#        # #                                       # # #       #             # # #                                                                                                                 
#        # #                                                   #                                                                                                                                   
#        # #                                                   #                                                                                                                                   
#        # #                     # # # # # #         #         # # # # #       #             # # # # # #         # # # # # #               # # # #               # # # #         # # # # #         
#        # #                   # # # # # # #         #         # # # # #       # #         # # # # # # #       # # # # # # # #           # # # # # # #         # # # # #       # # # # # # #       
#        # #                 # #           #         #         #               # #       # #         # #       # #         # #         # #         # #         # #           # # #       # #       
#        # #                 # #           #         #         #               # #     # #           # #       # #           # #       # #           # #       # #           # #           # #     
#        # #               # #             #         #         #               # #     # #           # #       # #           # #     # #             # #       # #           # #         # # #     
#        #                 # #             #         #         #               # #     # #           # #       # #           # #     # #             # #       # #           # # # # # # # # #     
#                            # #           #         #         #               # #     # #           # #       # #           # #     # #             # #       # #           # #                   
#                            # #           #         #         #               # #       # #         # #       # #           # #       # #           # #       # #           # #                   
#        #         # #       # # #     # # #         #         # #             # #       # # #     # # #       # #           # #       # #         # #         # #             # #                 
#      # # #       # #         # # # # # # #         #         # # # # # #     # #         # # # # # # #       # #           # #         # # # # # # #         # #             # # # # # # #       
#        # #       # #                   # #         #           # # # #       #                     # #         #           # #           # # # #             #                   # # # # #       
#                                        # #                                                         # #                                                                                           
#                                      # # #                                                       # # #                                                                                           
#                            # # # # # # #                                               # # # # # # #                                                                                             
#                                                                                                                                                                                                  
